
.cell{
  width: 100px;
  height: 100px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3px;
  cursor: pointer;
  border-radius: 5px;
  color: white;
  font-size: 50px;
}

.cell.O{
  background-color: #2a9d8f;
}

.cell.X{
  background-color: #e78f51;
}